html {
  background: #018DED url(https://i.picsum.photos/id/881/1500/1000.jpg?blur=5&hmac=wSpZ-UlEtKsvnxXigvyNIbudlXANuQMJpe19ZvEjebw);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 2rem solid white;
  border-radius: 50%;
  margin: 5rem auto;
  position: relative;
  padding: 2rem;
  box-shadow:
    0 0 0 0.4rem rgba(0, 0, 0, 0.1),
    inset 0 0 0 .3rem #EFEFEF,
    inset 0 0 .1rem black,
    0 0 .1rem rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-.3rem); /*Account for the height of the clock hand*/
}

.hand {
  width: 50%;
  height: .6rem;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%; /*Because we want to rotate from the right hand side; default is 50% (middle)*/
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0, 1.32, 0, 2.57);
}
