/* ----------------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", "sans-serif";
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix{zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ----------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------------- */

.row {
    max-width: 1140px;
/*    margin: 0 auto 0 auto;*/
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*HEADINGS*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    color: #fff;
    word-spacing: 3px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #e67e22;
    width: 100px;
    margin: auto auto;
    margin-top: 30px;
}

h3 {
   font-size: 110%;
    margin-bottom: 15px;
}

/* PARAGRAPHS*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ICONS */

ion-icon {
    font-size: 60;
    color: #e67e22;
    margin-bottom: 10px;
}

/*BUTTONS*/

.btn:link, 
.btn:visited {
    border-radius: 200px;
    color: #fff;
    display: inline-block; /*does not force a line break, but you can attribute it some padding and some margin unlike normal inline elements*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
    margin-right: 15px
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* ----------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.69)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/* ----------------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}

/* ----------------------------------------------------- */
/* MEALS */
/* ----------------------------------------------------- */

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float:left;
    width: 25%
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    opacity: 0.6;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    width: 100%;
    height: auto;
    transform: scale(1.03);
    opacity: 1;
}

.section-meals {
    padding: 0;
}


/* ----------------------------------------------------- */
/* HOW IT WORKS */
/* ----------------------------------------------------- */

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
        margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    float: left;
    margin-right: 25px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding-top: 6.5px;
    font-weight: 500;
    font-size: 150%;
}

.btn-app img {
    height: 50px;
    width: auto;
}